
/* ================================================= basic css start ================================================ */
.text-main-color {
    color: #FF335C;
}
.text-grey {
    color: #898989;
}

/* button css */
.custom-btn {
    height: 50px;   
    background-color: #FF335C;
    border-radius: 20px!important;
    color: #fff;
    font-size: 18px;
}

.custom-btn:hover, .custom-btn:focus, .custom-btn:active {
    height: 50px;
    background-color: #FF335C!important;
    border-color: #FF335C!important;
    border-radius: 20px!important;
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track-piece  {
    background-color: #474747;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #3b3b3b;
}
/* ================================================= basic css end ================================================ */

.bottom-text {
    color:#FF335C;
    margin-left: 20px;
    margin-right: 40px;
}
.top {
    position: absolute;
    top: 50px;
    left: 70px;
}
.bottom {
    position: absolute;
    bottom: 50px;
    left: 70px;
    width: 92%;
}
.bottom-right-text {
    position: absolute;
    right: 0px;
}
.middle {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    padding: 0px 60px;
    /* height: 450px; */
}
.container-fluid {
    height: 100vh;
}
.middle-left {
    width: 30%;
}
.middle-center {
    width: 60%;
}
.middle-right {
    width: 10%;
    text-align: right;
    padding-top: 100px;
}
.welcome-month {
    font-size: 140px;
    font-weight: 100;
    letter-spacing: 20px;
    text-align: center;
    margin-bottom: -20px;
}
.welcome-day {
    text-align: center;
    font-size: 100px;
}
.comming {
    font-size: 23px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.red-bar {
    height: 5px;
    background: #FF335C;
}
.main-text {
    letter-spacing: 4px;
    font-size: 66px;
    margin-bottom: 26px;
    margin-top: 24px;
}
.description {
    font-size: 24px;
    color: #868686 !important;
    font-weight: 400;
}
.social-icon {
    margin: 26px 0px;
}
.email-address, .email-address:focus {
    width: 45% !important;
    flex: inherit !important;
    background-color: rgb(39 38 38 / 85%)!important;
    border: 0px;
    box-shadow: 0 0 0 0 rgb(0 0 0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-primary {
    width: 160px;
    background: #FF335C;
    border-color: #FF335C;
    border-top-right-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}
.btn-primary:hover, .btn-primary:focus {
    width: 160px;
    background: #FF335C;
    border-color: #FF335C;
    box-shadow: 0 0 0 0 rgb(0 0 0);
    border-top-right-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}
.comming::before {
    content: "this this this this";
    color: #FF335C;
    height: 0px;
    background: #FF335C;
    font-size: 2px;
    margin-right: 20px;
}
.mobile {
    display: none;
}

/* ------------------------- input box css start -------------------- */
.custom-form {
    width: 100%;
}
.custom-input, .custom-textarea {
    width: 100%;
    border: 0px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 15px;
    height: 50px;
    background: rgb(43, 43, 43);
    color: #fcfcfc;
  }
  
  .custom-input:focus, .custom-textarea:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 15px 0 #545454;
  }
  
  .inputWithIcon .custom-input {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
    margin: 10px 0px;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 33px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
    margin: auto;
  }
  .input-label {
      color: #fcfcfc;
      margin-left: 16px;
      margin-bottom: 0px;
  }
  .input-icon {
    position: absolute;
    left: 0;
    top: 35px;
    padding: 9px 10px;
    color: #aaa;
    transition: 0.3s;
    margin: auto;
  }
/* ------------------------- input box css end -------------------- */


/* ====================================== Idol Registration start ==================================== */
.idol-registration .form-block {
    background: #2b2b2b;
    height: 100vh;
    padding: 50px 40px;
    overflow-y: auto;
}
.idol-registration .title-part {
    margin: 50px 0px 30px;
}
.idol-registration .title {
    font-size: 42px;
}
.idol-registration .sub-title {
    font-size: 24px;
}
.idol-registration .wizard {
    position: relative;
    display: block;
    width: 100%;
}
.idol-registration ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
}
.idol-registration ul li {
    display: table-cell;
    width: auto;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.idol-registration .register-part .wizard ul > li {
    display: table-cell;
    width: auto;
    vertical-align: top;
    text-align: center;
    position: relative;
}
.idol-registration .register-part .wizard ul > li > a {
    color: #FF335C;
    cursor: default;
    position: relative;
    padding-top: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.idol-registration .register-part .wizard ul > li span {
    border-color: #7367f0;
    background-color: #7367f0;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 3rem;
    border: 3px solid #b8c2cc;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50%;
}
.idol-registration .register-part .wizard ul > li:after {
    top: 43px;
    width: 50%;
    height: 3px;
    background-color: #7367f0;
}
.idol-registration .image-block {
    display: table;
}
.idol-registration .image-block .image-title {
    padding-left: 70px;
    display: table-cell;
    vertical-align: middle;
}
.idol-registration .image-block .image-title h1 {
    font-size: 60px;
    letter-spacing: 4px;
}
.idol-registration .image-block .image-title h4 {
    font-size: 16px;
}
  
  .stepwizard-row {
    display: table-row;
  }
  
  .stepwizard {
    display: table;
    width: 100%;
    position: relative;
  }
  
  .stepwizard-step button[disabled] {
    background-color:red;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
  }
  
  .btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 3px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
    color: #fff;
    background: #FF335C;
    font-size: 20px;
  }

@media (max-width: 574px) { 
    .idol-registration .form-block {
        padding: 0px 15px;
    }
    .idol-registration .title {
        font-size: 30px;
    }
    .idol-registration .sub-title {
        font-size: 20px;
    }
}

/* ====================================== Idol Registration end ==================================== */


/* ====================================== Fans sign in start ==================================== */
.black-checkbox .fill-control-input:checked~.fill-control-indicator{
    background-color: #000;
    border-color: #000;
    background-size: 100%;
  }
.fill-control-indicator{
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: .3s;
    background: transperent;
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  }
  .google-btn, .google-btn:focus, .facebook-btn, .facebook-btn:focus {
      background: #2b2b2b!important;
      color: white;
      border: 1px solid #898989!important;
      font-size: 14px;
  }
  .google-btn:hover, .facebook-btn:hover {
        /* background: #2b2b2b!important; */
        color: white;
        /* border: 1px solid #898989!important; */
    }
/* ====================================== Fans sign in end ==================================== */